
#Banner{
    display: flex;
    justify-content: center;
    background-color:antiquewhite;
    text-align: center;
    border-radius: 70px;
    padding: 15px;
    margin: 30px;
   
   
    

    
}


.Groceries{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}


.Milk{
  background-color: antiquewhite;
  width: 350px;
  height: 350px;
  transition: width 3s;
  animation-name: colorswitch;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  border-radius: 20px;
}

.Milk:hover{
    width: 400px;
    height: 400px;

}

.Eggs{
    background-color: antiquewhite;
    width: 350px;
    height: 350px;
    transition: width 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 20px;
}

.Eggs:hover{
    width: 400px;
    height: 400px;
    border-radius: 20px;

}


.Banana{
    background-color: antiquewhite;
    width: 350px;
    height: 350px;transition: width 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 20px;
}

.Banana:hover{
    width: 400px;
    height: 400px;
    

}

.Bread{
    background-color: antiquewhite;
    width: 350px;
    height: 350px;transition: width 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 20px;
}
.Bread:hover{
    width: 400px;
    height: 400px;

}

.Sugar{
    background-color: antiquewhite;
    width: 350px;
    height: 350px;transition: width 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 20px;
}

.Sugar:hover{
    width: 400px;
    height: 400px;

}

.Flour{
    background-color: antiquewhite;
    width: 350px;
    height: 350px;transition: width 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 20px;
}

.Flour:hover{
    width: 400px;
    height: 400px;

}

#button{
    background-color: antiquewhite;
    width: 350px;
    height: 350px;transition: width 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#ad{
    background-color: antiquewhite;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

h2{
    font-family: sans-serif;
}


@keyframes colorswitch {
    from {background-color: brown;}
    to {background-color:gainsboro;}
    
}


img{
    width: 200px;
    height: 200px;
    transition: 4s;
}

img:hover{
    width: 210px;
    height: 210px;

}
